<div class="page-header">
  ตารางคะแนน {{league_slug}} 
</div>
<div>
  <form>
    
  </form>
  </div>
<table class="table table-hover" border="2">
    <thead>
      <tr>
      <th>อันดับ</th>
      <th>ทีม</th>
      <th>ชนะ</th>
      <th>เสมอ</th>
      <th>แพ้</th>
      <th>คะแนน</th>
      <th>ประตูได้</th>
      <th>ประตูเสีย</th>
      <th>ดูผลการแข่งขัน</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let items of results">
        <th>{{items.position}}</th>
        <th><a routerLink="/detail/{{league_slug}}/{{items.position}}" class="is-success">{{items.team}}</a></th>
        <th>{{items.overall.wins}}</th>
        <th>{{items.overall.draws}}</th>   
        <th>{{items.overall.losts}}</th>
        <th>{{items.overall.points}}</th>
        <th>{{items.overall.scores}}</th>
        <th>{{items.overall.conceded}}</th>
        <th><a routerLink="/round/{{league_slug}}/{{items.team_identifier}}" class="is-success">ดูผลการแข่งขัน</a></th>
      </tr>
    </tbody>
  </table>