<table class="table table-hover" border="2">
    <thead>
      <tr>
      <th>อันดับ</th>
      <th>ทีม</th>
      <th>ชนะ</th>
      <th>เสมอ</th>
      <th>แพ้</th>
      <th>คะแนน</th>
      <th>ประตูได้</th>
      <th>ประตูเสีย</th>
      <th>ดูผลการแข่งขัน</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let items of results">
        <th>{{items.position}}</th>
        <th>{{items.team}}</th>
        <th>{{items.overall.wins}}</th>
        <th>{{items.overall.draws}}</th>   
        <th>{{items.overall.losts}}</th>
        <th>{{items.overall.points}}</th>
        <th>{{items.overall.scores}}</th>
        <th>{{items.overall.conceded}}</th>
        <th><a routerLink="/home/{{item.league_slug}}/scorer" class="is-success"></a>ดูผลการแข่งขัน</th>
      </tr>
    </tbody>
  </table>